footer
  .container.text-center
    div © 2014 Extra Bits Studios, LLC.
    div
      strong MyLabSheets
      |  Project ·
      |  Created by
      a(href='http://extrabitsstudios.com')  Extra Bits Studios